extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/article-detail.css')

block content
    .container
        .row
            .col-md-6.col-md-offset-3.main-content
                if article
                    span #{article.author.name}
                    br
                    span #{moment(article.meta.updateAt).format('MM-DD HH:mm:ss')}
                    p.lead #{article.introduction}
                    p #{article.content}

            .col-md-6.col-md-offset-3.to-comment
                form
                    h4 评论
                    .comment-form
                        if user
                            input(type="hidden",name="comment[from]",value="#{user._id}")
                            input#aId(type="hidden",name="comment[article]",value="#{article._id}")
                            textarea.form-control#con(rows=2,name="comment[content]",placeholder="说说你的看法")
                            a#commsubmit.send.btn.pull-right 发送
                            a.cancel.btn.pull-right 取消

                            .clearfix
                        else
                            h3 需要登录才可以评论！


            .col-md-6.col-md-offset-3.comment.comment-list
                if (comments.length > 0)
                    each comment in comments
                        .media.main-media
                            input.cId(type="hidden",value="#{comment._id}")
                            input.from(type="hidden",value="#{comment.from._id}")
                            .media-left
                                a(href="#")
                                    img.headPortrait.media-object(src="/images/user/#{comment.from.headPortrait}")
                            .media-body
                                h4 #{comment.from.name}
                                p #{comment.content}
                                    if user
                                        a.reply(data-cId="#{comment._id}")
                                            i.fa.fa-comment-o.fa-lg
                                            span 评论
                                            span #{moment(comment.meta.updateAt).format('YYYY.DD.MM HH:mm')}
                                            hr
                                    else
                                        a.reply(data-cId="#{comment._id}")
                                        hr

                                    if comment.reply
                                        each item in comment.reply
                                            .media
                                                .media-left
                                                    a(href="#")
                                                        img.headPortrait.media-object(src="/images/user/#{item.from.headPortrait}")
                                                .media-body
                                                    h4 #{item.from.name}:@#{item.to.name}
                                                    p #{item.content}
                                                        if user
                                                            a.reply(data-fId="#{item.from._id}",data-cId="#{comment._id}")
                                                                i.fa.fa-comment-o.fa-lg
                                                                span 评论
                                                                span #{moment(item.from.meta.updateAt).format('YYYY.DD.MM HH:mm')}
                                                        else
                                                            a.reply(data-fId="#{item.from._id}",data-cId="#{comment._id}")
                                            hr







    script(src="/javascripts/moment.js")
    script(src="/javascripts/comment.js")
