extends layout

block content
    .container
        .row
            .col-md-5.col-md-offset-2
                if articles && articles.length > 0
                    each item in articles
                        span 来自：#{item.category.name}
                        br
                        span 作者：#{item.author.name}
                        p 标题：#{item.title}
                        p 简介： #{item.introduction}
                        a.btn.btn-default(target="_blank",href="/article/#{item._id}") 阅读全文
                        hr
                nav
                    ul.pagination
                        - if(totalPage){
                        li
                            a(href="#")
                                span &laquo;
                        - for(var i=1;i<=totalPage;i++){
                        - if(currentPage == i){
                        li.active
                            a(href="#") #{i}
                        - }else{
                        li
                            a(href="/category/?p=#{i}&cId=#{cId}") #{i}
                        - }
                        - }
                        li
                            a(href="#")
                                span &raquo;
                        - }