
extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .container.recommend
    .row
      .col-md-8.clear-padding.offset
        if articles.length > 0
          each item in articles
            div.main-content-list
              .row
                .col-md-9
                  div.headPortrait
                    a
                      img.media-object(src="/images/user/#{item.author.headPortrait}")
                    span.author #{item.author.name}
                    span.time #{moment(item.meta.updateAt).format('MM/DD/YYYY HH:mm')}
                  h4.article-title
                    a(target="_blank",href="/article/#{item._id}") #{item.title}
                  div.wid.introduction #{item.introduction}
                  p
                    span.category #{item.category.name}
                .col-md-3
                  a.picture
                    img.img-responsive.center-block.media-object(src="/images/#{item.picture}")



        div.paging
          nav
            ul.pagination
              li
                a(href="#")
                  span &laquo;
              - for(var i=1;i<=totalPage;i++){
                    - if(currentPage == i){
                        li.active
                          a(href="#") #{i}
                    - }else{
                        li
                          a(href="/?p=#{i}") #{i}
                    - }
              - }
              li
                a(href="#")
                  span &raquo;

      .col-md-3.main-comment
        section.pag
          header 感兴趣的分类
          hr
          ul
            li
              a(href="#")
                i.fa.fa-plus
                |JavaScript
            li
              a(href="#")
                i.fa.fa-plus
                |美食
            li
              a(href="#")
                i.fa.fa-plus
                |Node.js
            li
              a(href="#")
                i.fa.fa-plus
                |PHP
            li
              a(href="#")
                i.fa.fa-plus
                |webpack
            li
              a(href="#")
                i.fa.fa-plus
                |算法
            li
              a(href="#")
                i.fa.fa-plus
                |设计模式
            li
              a(href="#")
                i.fa.fa-plus
                | Github
            li
              a(href="#")
                i.fa.fa-plus
                | C语言
            li
              a(href="#")
                i.fa.fa-plus
                | .Net

        section.author
          header 优秀作者
          hr
          if users
            each user in users
              div.excellentAuthor
                a
                  div.user-image
                    img(src="/images/user/#{user.headPortrait}")
                  div.user-info
                    div.username #{user.name}
                    div.userarticle #{user.articles.length} 篇文章
                  button.follow
                    i.fa.fa-plus &nbsp; 关注
              .clearfix